html, head, body {
  background-color: #231b12;
}

.dark {
  background-color: #231b12;
  color: #d3d3d3;
}

.nav-tabs {
  background-color: #231b12;
  color: #d3d3d3;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-color: #42362d;
}

.nav-tabs .nav-link:hover {
  border-top-color: #958b5e;
  border-right-color: #958b5e;
  border-left-color: #958b5e;
  border-bottom-color: #534539;
}

.nav-tabs .nav-link.active {
  background-color: #42362d;
  color: #d3d3d3;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-color: #958b5e;
  border-right-color: #958b5e;
  border-left-color: #958b5e;
  border-bottom-color: #42362d;
}

.list-group-item {
  background-color: #42362d;
}

.spec-title {
  width: 80%;
}

.spec-points {
  width: 20%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 10px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 6px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: url('img/specdial_divider_narrow.webp'); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
